<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MINOR PROJ</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
      #registerForm {
        display: none;
      }
      body{
        overflow: hidden;
      }
      
    </style>
    <!-- Add any additional styles or scripts here -->
  </head>
  <body>
    <div class="circ1" style="background-color: red"></div>
    <div
      class="circ2"
      style="background-color: rgb(131, 198, 220); left: 25%"
    ></div>
    <div class="circ3" style="background-color: rgb(204, 77, 98)"></div>
    <div class="circ4" style="background-color: red"></div>
    <div class="circ5" style="background-color: rgb(0, 191, 255)"></div>
    <div class="circ6" style="background-color: rgb(87, 182, 241)"></div>

    <div class="nav">
      <h3><a href="/">HOME</a></h3>
      <h3><a href="/">ABOUT</a></h3>
      <h3><a href="/">CONTACT</a></h3>
    </div>

    <h1 class="grad">BEING POSITIVE</h1>
    <p>
      "Whenever, However and Whatever <ok>blood</ok> you need, We are here to
      help."
    </p>

    <div class="urgency">
      <a href="/reg"><h4>IT'S AN EMERGENCY</h4></a>
    </div>

    <div class="options">
      <a href="/reg" onclick="showDonorForm()"><h2>DONOR</h2></a>
      <a href="/regP" onclick="showDonorForm()"><h2>PATIENT</h2></a>
      <a href="/regA" onclick="showDonorForm()"><h2>ADMINISTRATIVE</h2></a>
    </div>

    <script>
      function showDonorForm() {
        var donorForm = document.getElementById("registerForm");
        registerForm.style.display = "block";
      }
    </script>
  </body>
</html>
